@font-face {
    font-family: 'sarabun';
    src: url('../../common/fonts/sarabun/Sarabun-Bold.eot');
    src: url('../../common/fonts/sarabun/Sarabun-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../common/fonts/sarabun/Sarabun-Bold.woff2') format('woff2'),
        url('../../common/fonts/sarabun/Sarabun-Bold.woff') format('woff'),
        url('../../common/fonts/sarabun/Sarabun-Bold.ttf') format('truetype'),
        url('../../common/fonts/sarabun/Sarabun-Bold.svg#Sarabun-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}

@font-face {
    font-family: 'sarabun';
    src: url('../../common/fonts/sarabun/Sarabun-Medium.eot');
    src: url('../../common/fonts/sarabun/Sarabun-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../common/fonts/sarabun/Sarabun-Medium.woff2') format('woff2'),
        url('../../common/fonts/sarabun/Sarabun-Medium.woff') format('woff'),
        url('../../common/fonts/sarabun/Sarabun-Medium.ttf') format('truetype'),
        url('../../common/fonts/sarabun/Sarabun-Medium.svg#Sarabun-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}

@font-face {
    font-family: 'sarabun';
    src: url('../../common/fonts/sarabun/Sarabun-Regular.eot');
    src: url('../../common/fonts/sarabun/Sarabun-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../common/fonts/sarabun/Sarabun-Regular.woff2') format('woff2'),
        url('../../common/fonts/sarabun/Sarabun-Regular.woff') format('woff'),
        url('../../common/fonts/sarabun/Sarabun-Regular.ttf') format('truetype'),
        url('../../common/fonts/sarabun/Sarabun-Regular.svg#Sarabun-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}

